      .cebiandaohang {
            position: absolute;
            background-color: none;
            display: flex;
            justify-content: space-evenly;
            height: 100vh;
            align-items: center;
            z-index: 9999;
        }
   .shell {
    width: 0.1px;
    position: fixed;
    right: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255 255 255 / 50%);
    border-radius: 3px;
    transition: .3s;
    overflow: hidden;
        }
@media screen and (max-width: 550px) {
	 
	 .shell { 
	 	height: 80%;
	 width: 0.1px;
	 border-radius: 15px 3px 3px 15px;
	 }}
        .box {
  display: flex; /* 将 .box 设置为 Flex 容器 */
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  height: 15%;
  width: 95%;
  margin: 9px;
  border-radius: 5px;
  position: relative;
  transition: .3s;
  color: rgb(160, 160, 175);
  text-decoration: none;
}

.box i {
  font-size: 60px;
  position: absolute;
  margin: 7px 0 0 13px;
}

.box span {
  position: relative;
  font: 500 20px '';
  opacity: 0;
  transition: .1s ;
}

        .shell:hover{
            width: 220px;
        }
        .box:hover{
            background-color: rgb(55, 65, 81);
        }
        .shell:hover span{
            opacity: 1;
        }
        .box:hover{
            color: #fff;
        }

        .shell:nth-child(1) {
            background-color: rgb(255 255 255 / 50%);
        }
        .shell:nth-child(1) .box:hover{
            background-color: rgb(80 112 194 / 80%);
            color: rgb(241, 159, 159);
        }
        .shell:nth-child(1) .box{
            color: #000;
        }



